/* ================================================== COLORS */

$clr__primary: #5254E4;
$clr__white: #FFFFFF;
$clr__mono_l: #E5E5E5;
$clr__mono_m: #5E5E5E;

/* ================================================== SPACING */

$pad__x: 4rem;
