@import './tools';

*,
*::before,
*::after { box-sizing: border-box; }

body {
	margin: 0;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.demo__header,
.demo__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem $pad__x;
	background: $clr__primary;
	color: $clr__white;
}
